# Copia questo file in ".env" (rimane sul tuo computer, non finisce su GitHub) e scegli una password.
# Con una password impostata, l app chiede il login anche in locale.
BILANCIO_PASSWORD=scegli-una-password-lunga
